<configuration debug="false">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- 默认的控制台日志输出，一般生产环境都是后台启动，这个没太大作用 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%highlight(%d{HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{80}) - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- 日志输出级别 -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>